.badge-pendiente {
    background-color: red;
    color: white;
  }
  
  .badge-en-revision {
    background-color: orange;
    color: white;
  }
  
  .badge-resuelto {
    background-color: green;
    color: white;
  }
  
  @keyframes buttonClickAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .button-clicked {
    animation: buttonClickAnimation 0.3s ease-in-out;
  }
  